In [2]:
#Q4
marks={'Maths':85,'Eng':67,'Isl':99,'Physics':77}
total=sum(marks.values())
print(total)

328

In [3]:
#Q1
def sum(a,b):
    c=a+b
    print(c)
sum(9,10)
def subtract_num(a,b):
    c=a-b
    print(c)
subtract_num(9,8)
def mult(a,b):
    c=a*b
    print(c)
mult(9,7)
def div(a,b):
    c=a/b
    print(c)
div(9,3)

19
1
63
3.0

In [4]:
#Q2
list=["Taha", 8, "Ali", 9]
for i in list:
    print(i)
    print(type(i))

Taha
<class 'str'>
8
<class 'int'>
Ali
<class 'str'>
9
<class 'int'>

In [5]:
#Q3
Capital_cities={"USA":"New York", "Pakistan":"Islamabad", "Bangladesh":"Dhaka", "Turkey":"Istambul"}
Capital_cities["India"]="New Delhi"
print(Capital_cities)

{'USA': 'New York', 'Pakistan': 'Islamabad', 'Bangladesh': 'Dhaka', 'Turkey': 'Istambul', 'India': 'New Delhi'}

In [8]:
#Q5
List=[6,9,4,5,1,2,6,9]
New_List=[]
print("The duplicate values are:")
for i in List:
    if i not in New_List:
        New_List.append(i)
    else:
        print(i)
print("The non-duplicate items in the list are:")
print(New_List)

The duplicate values are:
6
9
The non-duplicate items in the list are:
[6, 9, 4, 5, 1, 2]